{% extends 'MyStory/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

    <head>
            
    </head>

    <body>
        <h2>Hello apa kabar?</h2>
        <!-- Contact Section -->
        <section id="contact">
                <div class="container">
                        <h2 class="text-center text-uppercase text-secondary mb-0">Post something</h2>
                        <hr class="star-dark mb-5">
                        <div class="row">
                                <div class="col-lg-8 mx-auto">
                                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                                        <form action="" method = "POST">
                                        {% csrf_token %}
                                        {{ forms }}>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>What are you thinking?</label>
                    <textarea name="status" class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                </div>
              </form>
              {% for each in obj %}
              <div class="portfolio portfolio-item portfolio-item-caption">
                status : {{each.status}}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <div></div>
    </body>
</html>
{% endblock %}