{% extends 'Story04/base.html' %}
{% load static %}
<html>
        <head>
                <title>
                        Adima
                </title>
        </head>
        <body>
                {% block pagecontent %}
                {% include 'Story04/navbar.html' %}
                
                <div>
                        <h4 class="subtitle">Aditya Pratama</h4>
                        <h3>Aditya Pratama adalah pengembang front-end desain berorientasi. Berusaha untuk membangun aplikasi web imersif dan indah melalui program yang dibuat dengan hati-hati dan desain yang berpusat pada pengguna.</h3>
                        <p>Seseorang yang mampu beradaptasi, inovatif, dan bertanggung jawab, mencari posisi dalam perusahaan teknologi multinasional yang akan memanfaatkan keterampilan organisasi dan komunikasi yang dikembangkan melalui bertahun-tahun pengalaman di berbagai organisasi.</p>
                </div>
                <div class="widgets">
                        <img class="icons" src="facebook.PNG" alt="Facebook icon">
                        <img class="icons" src="github-logo.PNG" alt="Github icon">
                        <img class="icons" src="google-plus.PNG" alt="Gplus icon">
                        <img class="icons" src="line.PNG" alt="LINE icon">
                </div>
                {% endblock %}
        </body>
</html>