{% extends 'Story04/base.html' %}
{% load static %}
<html>
    <head>
        <title>
            Silahkan Isi
        </title>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'Story04/navbar.html' %}
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName4">Name</label>
                <input type="name" class="form-control" id="inputName4" placeholder="Name">
              </div>
              <fieldset>
                <label>Date</label>
            
                <div class="form-group col-md-6">
                    <label for="Date"></label>
                    <input type="date" id="start" name="trip"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31" />
                </div>
            
            </fieldset>
            
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="Email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input type="Subject" class="form-control" id="inputSubject" placeholder="Subject">
            </div>
            <label>Message</label>
            <div class="form-group">
              <textarea name="Text1" cols="40" rows="5" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% endblock %}
    </body>
</html>