{% extends 'Story04/base.html' %}
{% load static %}
<html>
    <head>
        <title>
            Gallery
        </title>
        <style>
            div.gallery {
                margin: 5px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
            }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

            div.desc {
                padding: 15px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% block pagecontent %}
        {% include 'Story04/navbar.html' %}
        <div class="gallery">
            <a target="_blank" href="ADIDASA.JPG">
                <img src="ADIDASA.JPG" alt="Recruitment Pict" width="300" height="200">
            </a>
        <div class="desc">Pict for Civil Servant Recrruitment</div> </div>
        </div>

        <div class="gallery">
            <a target="_blank" href="LOOOLL.JPG">
                <img src="LOOOLL.JPG" alt="KMB Assignment" width="300" height="200">
            </a>
        <div class="desc">My First KMB Assignment</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="szSu1Hg - Imgur.PNG">
                <img src="szSu1Hg - Imgur.PNG" alt="A Meme" width="300" height="200">
            </a>
        <div class="desc">Loss Meme</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="WhatsApp Image 2018-09-13 at 10.57.55 AM.JPEG">
                <img src="WhatsApp Image 2018-09-13 at 10.57.55 AM.JPEG" alt="Beautiful Mugshot" width="300" height="200">
            </a>
        <div class="desc">Mugshot</div>
        </div>
        <div>
        <button type="image" background: transparent">
                <a href="index.html">
                <img src="home-button-icon-73296.PNG" width="50" height="50" alt="Back"/>
                </a>
        </button>
        </div>
        <div>
                <ul>
                        <li><a href="bukutamu.html">Anda pengunjung baru? Silahkan isi di sini!</a></li>
                </ul>
        </div>
        {% endblock %}
    </body>
</html>