{% extends 'Story04/base.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <form action="/your-name/" method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = "Post" value = "Save" />
        </form>
        {% for each in object %}
            <p> hari : {{each.day}}<br>
            tanggal : {{each.date}}<br>
            jam : {{each.time}}<br>
            kegiatan : {{each.event}}<br>
            tempat : {{each.place}}<br>
            kategori : {{each.category}}<br><br></p>
        {% endfor %}
    </body>
</html>
{% endblock %}